/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Basic-Latin.woff2) format('woff2');
  unicode-range: U+0-1f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Spacing-Modifier-Letters.woff2) format('woff2');
  unicode-range: U+2b0-2ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Jamo.woff2) format('woff2');
  unicode-range: U+1100-11ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Radicals-Supplement.woff2) format('woff2');
  unicode-range: U+2e80-2e99, U+2e9b-2ef3;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Kangxi-Radicals.woff2) format('woff2');
  unicode-range: U+2f00-2fd5;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Ideographic-Description-Characters.woff2) format('woff2');
  unicode-range: U+2ff0-2ffb;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Symbols-and-Punctuation.woff2) format('woff2');
  unicode-range: U+3000-303f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hiragana.woff2) format('woff2');
  unicode-range: U+3041-3096, U+3099-309f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Katakana.woff2) format('woff2');
  unicode-range: U+30a0-30ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Bopomofo.woff2) format('woff2');
  unicode-range: U+3105-312f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Compatibility-Jamo.woff2) format('woff2');
  unicode-range: U+3131-318e;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Kanbun.woff2) format('woff2');
  unicode-range: U+3190-319f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Bopomofo-Extended.woff2) format('woff2');
  unicode-range: U+31a0-31bf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Strokes.woff2) format('woff2');
  unicode-range: U+31c0-31e3;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Katakana-Phonetic-Extensions.woff2) format('woff2');
  unicode-range: U+31f0-31ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Enclosed-CJK-Letters-and-Months.woff2) format('woff2');
  unicode-range: U+3200-321e, U+3220-32ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Compatibility.woff2) format('woff2');
  unicode-range: U+3300-33ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-A-1.woff2) format('woff2');
  unicode-range: U+3400-37ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-A-2.woff2) format('woff2');
  unicode-range: U+3800-3bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-A-3.woff2) format('woff2');
  unicode-range: U+3c00-3fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-A-4.woff2) format('woff2');
  unicode-range: U+4000-43ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-A-5.woff2) format('woff2');
  unicode-range: U+4400-47ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-A-6.woff2) format('woff2');
  unicode-range: U+4800-4bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-A-7.woff2) format('woff2');
  unicode-range: U+4c00-4dbf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Yijing-Hexagram-Symbols.woff2) format('woff2');
  unicode-range: U+4dc0-4dff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-01.woff2) format('woff2');
  unicode-range: U+4e00-51ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-02.woff2) format('woff2');
  unicode-range: U+5200-55ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-03.woff2) format('woff2');
  unicode-range: U+5600-59ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-04.woff2) format('woff2');
  unicode-range: U+5a00-5dff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-05.woff2) format('woff2');
  unicode-range: U+5e00-61ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-06.woff2) format('woff2');
  unicode-range: U+6200-65ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-07.woff2) format('woff2');
  unicode-range: U+6600-69ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-08.woff2) format('woff2');
  unicode-range: U+6a00-6dff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-09.woff2) format('woff2');
  unicode-range: U+6e00-71ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-10.woff2) format('woff2');
  unicode-range: U+7200-75ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-11.woff2) format('woff2');
  unicode-range: U+7600-79ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-12.woff2) format('woff2');
  unicode-range: U+7a00-7dff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-13.woff2) format('woff2');
  unicode-range: U+7e00-81ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-14.woff2) format('woff2');
  unicode-range: U+8200-85ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-15.woff2) format('woff2');
  unicode-range: U+8600-89ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-16.woff2) format('woff2');
  unicode-range: U+8a00-8dff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-17.woff2) format('woff2');
  unicode-range: U+8e00-91ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-18.woff2) format('woff2');
  unicode-range: U+9200-95ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-19.woff2) format('woff2');
  unicode-range: U+9600-99ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-20.woff2) format('woff2');
  unicode-range: U+9a00-9dff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-21.woff2) format('woff2');
  unicode-range: U+9e00-9ffc;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Yi-Syllables.woff2) format('woff2');
  unicode-range: U+a000-a002, U+a015, U+a057-a058, U+a082-a084, U+a131-a132, U+a1aa, U+a1ba, U+a1d9, U+a1f3-a1f4, U+a1f6-a1f7, U+a27b, U+a3d4;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Yi-Radicals.woff2) format('woff2');
  unicode-range: U+a490-a498, U+a49a, U+a49f-a4a2, U+a4a4, U+a4af-a4b0, U+a4b3, U+a4bc-a4bd, U+a4c4;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Lisu.woff2) format('woff2');
  unicode-range: U+a4d0-a4ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Modifier-Tone-Letters.woff2) format('woff2');
  unicode-range: U+a700-a71f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Phags-pa.woff2) format('woff2');
  unicode-range: U+a843-a846, U+a855-a856, U+a858, U+a85a, U+a872, U+a876-a877;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Jamo-Extended-A.woff2) format('woff2');
  unicode-range: U+a960-a97c;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-01.woff2) format('woff2');
  unicode-range: U+ac00-afff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-02.woff2) format('woff2');
  unicode-range: U+b000-b3ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-03.woff2) format('woff2');
  unicode-range: U+b400-b7ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-04.woff2) format('woff2');
  unicode-range: U+b800-bbff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-05.woff2) format('woff2');
  unicode-range: U+bc00-bfff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-06.woff2) format('woff2');
  unicode-range: U+c000-c3ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-07.woff2) format('woff2');
  unicode-range: U+c400-c7ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-08.woff2) format('woff2');
  unicode-range: U+c800-cbff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-09.woff2) format('woff2');
  unicode-range: U+cc00-cfff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-10.woff2) format('woff2');
  unicode-range: U+d000-d3ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Syllables-11.woff2) format('woff2');
  unicode-range: U+d400-d7a3;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Hangul-Jamo-Extended-B.woff2) format('woff2');
  unicode-range: U+d7b0-d7c6, U+d7cb-d7fb;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Compatibility-Ideographs.woff2) format('woff2');
  unicode-range: U+f900-fa6d, U+fa70-fad9;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Vertical-Forms.woff2) format('woff2');
  unicode-range: U+fe10-fe19;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Compatibility-Forms.woff2) format('woff2');
  unicode-range: U+fe30-fe4f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Small-Form-Variants.woff2) format('woff2');
  unicode-range: U+fe50-fe52, U+fe54-fe66, U+fe68-fe6b;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Halfwidth-and-Fullwidth-Forms.woff2) format('woff2');
  unicode-range: U+ff01-ffbe, U+ffc2-ffc7, U+ffca-ffcf, U+ffd2-ffd7, U+ffda-ffdc, U+ffe0-ffe6, U+ffe8-ffee;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Miao.woff2) format('woff2');
  unicode-range: U+16f00-16f45, U+16f48, U+16f8f-16f93, U+16f96, U+16f98;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Ideographic-Symbols-and-Punctuation.woff2) format('woff2');
  unicode-range: U+16fe0, U+16fe2-16fe4, U+16ff0-16ff1;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Kana-Supplement.woff2) format('woff2');
  unicode-range: U+1b000-1b0ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Kana-Extended-A.woff2) format('woff2');
  unicode-range: U+1b100-1b11e;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Small-Kana-Extension.woff2) format('woff2');
  unicode-range: U+1b150-1b152, U+1b164-1b167;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Nushu.woff2) format('woff2');
  unicode-range: U+1b170-1b240, U+1b242, U+1b249, U+1b24c, U+1b24e, U+1b25f, U+1b267-1b26a, U+1b27e, U+1b2a6, U+1b2d9, U+1b2fb;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Tai-Xuan-Jing-Symbols.woff2) format('woff2');
  unicode-range: U+1d300-1d356;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Counting-Rod-Numerals.woff2) format('woff2');
  unicode-range: U+1d360-1d378;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Mahjong-Tiles.woff2) format('woff2');
  unicode-range: U+1f000-1f02b;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Enclosed-Ideographic-Supplement.woff2) format('woff2');
  unicode-range: U+1f200-1f202, U+1f210-1f23b, U+1f240-1f248, U+1f250-1f251, U+1f260-1f265;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Miscellaneous-Symbols-and-Pictographs.woff2) format('woff2');
  unicode-range: U+1f300, U+1f302, U+1f304-1f305, U+1f310-1f318, U+1f31a, U+1f31d-1f31e, U+1f320, U+1f322-1f327, U+1f329-1f32a, U+1f330, U+1f355, U+1f358-1f359, U+1f361-1f362, U+1f364, U+1f378, U+1f384, U+1f390, U+1f397, U+1f39c-1f39d, U+1f3b0-1f3b1, U+1f3b3-1f3b9, U+1f3e0, U+1f3e2-1f3e3, U+1f3e6, U+1f3f3-1f3f4, U+1f3f7, U+1f407, U+1f40e, U+1f42d, U+1f42f-1f431, U+1f436-1f438, U+1f440-1f441, U+1f446-1f449, U+1f44d-1f44e, U+1f46b-1f46d, U+1f46f, U+1f477, U+1f47a, U+1f47f, U+1f493-1f495, U+1f497-1f499, U+1f49e-1f49f, U+1f4a2-1f4a4, U+1f4a7-1f4a9, U+1f4ab, U+1f4af, U+1f4b1-1f4b7, U+1f4bb, U+1f4bf-1f4c0, U+1f4d0, U+1f4db, U+1f4e7-1f4e9, U+1f4f1-1f4f2, U+1f4f4-1f4f6, U+1f4fa-1f4fb, U+1f505-1f50a, U+1f50d-1f50e, U+1f516, U+1f519-1f525, U+1f52b, U+1f52f, U+1f534-1f535, U+1f549, U+1f550-1f56a, U+1f573, U+1f582, U+1f595, U+1f597-1f5a4, U+1f5a9, U+1f5b8, U+1f5c5-1f5c9, U+1f5cb-1f5cc, U+1f5ce-1f5cf, U+1f5d5, U+1f5da-1f5db, U+1f5f8-1f5f9, U+1f5fb, U+1f5fe;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.Transport-and-Map-Symbols.woff2) format('woff2');
  unicode-range: U+1f685, U+1f6a9, U+1f6ab, U+1f6b9-1f6bb, U+1f6be-1f6bf, U+1f6c6-1f6c8, U+1f6d1, U+1f6e7;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKASC'), local('HanaMinLiteCJKASC'), url(HanaMinLiteCJKASC.CJK-Unified-Ideographs-Extension-B.woff2) format('woff2');
  unicode-range: U+26936;
}
/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Basic-Latin.woff2) format('woff2');
  unicode-range: U+0-1f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Tangut-1.woff2) format('woff2');
  unicode-range: U+17000-173ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Tangut-2.woff2) format('woff2');
  unicode-range: U+17400-177ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Tangut-3.woff2) format('woff2');
  unicode-range: U+17800-17bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Tangut-4.woff2) format('woff2');
  unicode-range: U+17c00-17fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Tangut-5.woff2) format('woff2');
  unicode-range: U+18000-183ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Tangut-6.woff2) format('woff2');
  unicode-range: U+18400-187f7;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.Tangut-Components.woff2) format('woff2');
  unicode-range: U+18800-18aff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-01.woff2) format('woff2');
  unicode-range: U+20000-203ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-02.woff2) format('woff2');
  unicode-range: U+20400-207ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-03.woff2) format('woff2');
  unicode-range: U+20800-20bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-04.woff2) format('woff2');
  unicode-range: U+20c00-20fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-05.woff2) format('woff2');
  unicode-range: U+21000-213ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-06.woff2) format('woff2');
  unicode-range: U+21400-217ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-07.woff2) format('woff2');
  unicode-range: U+21800-21bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-08.woff2) format('woff2');
  unicode-range: U+21c00-21fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-09.woff2) format('woff2');
  unicode-range: U+22000-223ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-10.woff2) format('woff2');
  unicode-range: U+22400-227ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-11.woff2) format('woff2');
  unicode-range: U+22800-22bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-12.woff2) format('woff2');
  unicode-range: U+22c00-22fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-13.woff2) format('woff2');
  unicode-range: U+23000-233ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-14.woff2) format('woff2');
  unicode-range: U+23400-237ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-15.woff2) format('woff2');
  unicode-range: U+23800-23bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-16.woff2) format('woff2');
  unicode-range: U+23c00-23fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-17.woff2) format('woff2');
  unicode-range: U+24000-243ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-18.woff2) format('woff2');
  unicode-range: U+24400-247ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-19.woff2) format('woff2');
  unicode-range: U+24800-24bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-20.woff2) format('woff2');
  unicode-range: U+24c00-24fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-21.woff2) format('woff2');
  unicode-range: U+25000-253ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-22.woff2) format('woff2');
  unicode-range: U+25400-257ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-23.woff2) format('woff2');
  unicode-range: U+25800-25bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-24.woff2) format('woff2');
  unicode-range: U+25c00-25fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-25.woff2) format('woff2');
  unicode-range: U+26000-263ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-26.woff2) format('woff2');
  unicode-range: U+26400-267ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-27.woff2) format('woff2');
  unicode-range: U+26800-26bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-28.woff2) format('woff2');
  unicode-range: U+26c00-26fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-29.woff2) format('woff2');
  unicode-range: U+27000-273ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-30.woff2) format('woff2');
  unicode-range: U+27400-277ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-31.woff2) format('woff2');
  unicode-range: U+27800-27bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-32.woff2) format('woff2');
  unicode-range: U+27c00-27fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-33.woff2) format('woff2');
  unicode-range: U+28000-283ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-34.woff2) format('woff2');
  unicode-range: U+28400-287ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-35.woff2) format('woff2');
  unicode-range: U+28800-28bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-36.woff2) format('woff2');
  unicode-range: U+28c00-28fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-37.woff2) format('woff2');
  unicode-range: U+29000-293ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-38.woff2) format('woff2');
  unicode-range: U+29400-297ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-39.woff2) format('woff2');
  unicode-range: U+29800-29bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-40.woff2) format('woff2');
  unicode-range: U+29c00-29fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-41.woff2) format('woff2');
  unicode-range: U+2a000-2a3ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-B-42.woff2) format('woff2');
  unicode-range: U+2a400-2a6dd;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-C-1.woff2) format('woff2');
  unicode-range: U+2a700-2aaff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-C-2.woff2) format('woff2');
  unicode-range: U+2ab00-2aeff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-C-3.woff2) format('woff2');
  unicode-range: U+2af00-2b2ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-C-4.woff2) format('woff2');
  unicode-range: U+2b300-2b6ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-C-5.woff2) format('woff2');
  unicode-range: U+2b700-2b734;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKBSC'), local('HanaMinLiteCJKBSC'), url(HanaMinLiteCJKBSC.CJK-Unified-Ideographs-Extension-D.woff2) format('woff2');
  unicode-range: U+2b740-2b81d;
}
/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.Basic-Latin.woff2) format('woff2');
  unicode-range: U+0-1f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-A.woff2) format('woff2');
  unicode-range: U+3eac;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs.woff2) format('woff2');
  unicode-range: U+5bff, U+5ff9;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-E-1.woff2) format('woff2');
  unicode-range: U+2b820-2bc1f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-E-2.woff2) format('woff2');
  unicode-range: U+2bc20-2c01f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-E-3.woff2) format('woff2');
  unicode-range: U+2c020-2c41f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-E-4.woff2) format('woff2');
  unicode-range: U+2c420-2c81f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-E-5.woff2) format('woff2');
  unicode-range: U+2c820-2cc1f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-E-6.woff2) format('woff2');
  unicode-range: U+2cc20-2cea1;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-1.woff2) format('woff2');
  unicode-range: U+2ceb0-2d2af;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-2.woff2) format('woff2');
  unicode-range: U+2d2b0-2d6af;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-3.woff2) format('woff2');
  unicode-range: U+2d6b0-2daaf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-4.woff2) format('woff2');
  unicode-range: U+2dab0-2deaf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-5.woff2) format('woff2');
  unicode-range: U+2deb0-2e2af;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-6.woff2) format('woff2');
  unicode-range: U+2e2b0-2e6af;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-7.woff2) format('woff2');
  unicode-range: U+2e6b0-2eaaf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-F-8.woff2) format('woff2');
  unicode-range: U+2eab0-2ebe0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-G-1.woff2) format('woff2');
  unicode-range: U+30000-303ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-G-2.woff2) format('woff2');
  unicode-range: U+30400-307ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-G-3.woff2) format('woff2');
  unicode-range: U+30800-30bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-G-4.woff2) format('woff2');
  unicode-range: U+30c00-30fff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Unified-Ideographs-Extension-G-5.woff2) format('woff2');
  unicode-range: U+31000-3134a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKCSC'), local('HanaMinLiteCJKCSC'), url(HanaMinLiteCJKCSC.CJK-Compatibility-Ideographs-Supplement.woff2) format('woff2');
  unicode-range: U+2f800-2fa1d;
}
