/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Basic-Latin.woff2) format('woff2');
  unicode-range: U+0-7f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Latin-1-Supplement.woff2) format('woff2');
  unicode-range: U+80-ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Latin-Extended-A.woff2) format('woff2');
  unicode-range: U+100-17f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Latin-Extended-B.woff2) format('woff2');
  unicode-range: U+180-24f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.IPA-Extensions.woff2) format('woff2');
  unicode-range: U+250-2af;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Combining-Diacritical-Marks.woff2) format('woff2');
  unicode-range: U+300-355, U+357-35a, U+35c-36f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Greek-and-Coptic.woff2) format('woff2');
  unicode-range: U+370-377, U+37a-37f, U+384-38a, U+38c, U+38e-3a1, U+3a3-3e5, U+3e8-3ed, U+3f0-3ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cyrillic.woff2) format('woff2');
  unicode-range: U+400-486, U+48a-4ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cyrillic-Supplement.woff2) format('woff2');
  unicode-range: U+500-52f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Armenian.woff2) format('woff2');
  unicode-range: U+531-556, U+559-58a, U+58d-58f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Hebrew.woff2) format('woff2');
  unicode-range: U+592, U+594-596, U+598-599, U+59c-59e, U+5a5-5a6, U+5a8, U+5ad-5ae, U+5b0, U+5b4-5ba, U+5bc, U+5be-5c4, U+5c6-5c7, U+5d0-5ea, U+5ef-5f4;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Arabic.woff2) format('woff2');
  unicode-range: U+606-60c, U+60f-611, U+615, U+617-61c, U+61e-6bd, U+6bf-6d1, U+6d4-6d5, U+6d9-6dc, U+6de-6e3, U+6e5, U+6ea-6f4, U+6f6-6fe;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Syriac.woff2) format('woff2');
  unicode-range: U+700-70d;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Arabic-Supplement.woff2) format('woff2');
  unicode-range: U+750-779, U+77c-77f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Thaana.woff2) format('woff2');
  unicode-range: U+780, U+799-79a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.NKo.woff2) format('woff2');
  unicode-range: U+7c0-7d1, U+7d3-7d7, U+7d9-7dc, U+7de, U+7e0-7e1, U+7e3-7e4, U+7e6-7e7, U+7ea-7ee, U+7f2-7f5, U+7fa, U+7fd, U+7ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Samaritan.woff2) format('woff2');
  unicode-range: U+830-832, U+838-83e;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Mandaic.woff2) format('woff2');
  unicode-range: U+840, U+846;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Arabic-Extended-A.woff2) format('woff2');
  unicode-range: U+8a0-8a9, U+8ab, U+8ad-8b4, U+8b6-8c7, U+8d3-8d9, U+8db, U+8de, U+8e3, U+8e5, U+8ea-8eb, U+8ed-8ee, U+8f3, U+8f5-8fd;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Devanagari.woff2) format('woff2');
  unicode-range: U+900-90b, U+90d-910, U+915, U+917, U+91f-924, U+928-92c, U+92e-931, U+935, U+93a-93c, U+93e, U+940, U+945-947, U+949-94b, U+950-951, U+956-958, U+95a, U+95c-95f, U+964-965, U+971-974, U+976-977, U+97a-97b, U+97f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Gujarati.woff2) format('woff2');
  unicode-range: U+a82, U+a97, U+a9f, U+abc, U+abe, U+afd;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Oriya.woff2) format('woff2');
  unicode-range: U+b3e-b40, U+b47, U+b4b;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Tamil.woff2) format('woff2');
  unicode-range: U+b9f, U+bc7, U+bcd;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Kannada.woff2) format('woff2');
  unicode-range: U+ca0, U+cb0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Thai.woff2) format('woff2');
  unicode-range: U+e01-e3a, U+e3f-e53, U+e57, U+e5a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Lao.woff2) format('woff2');
  unicode-range: U+e81-e82, U+e88, U+e8d, U+ea2, U+ea7, U+eb0-eb1, U+eb8-eba, U+ec8, U+ecb-ecd, U+ed0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Tibetan.woff2) format('woff2');
  unicode-range: U+f01, U+f1a-f1f, U+f36, U+f40-f44, U+f47, U+f51, U+f54-f57, U+f67-f68, U+fbe-fbf, U+fca, U+fcc, U+fce-fcf, U+fd5-fd8;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Myanmar.woff2) format('woff2');
  unicode-range: U+1000-1006, U+1009-100a, U+100e, U+1010-1013, U+1015-1016, U+1018-101a, U+101c-101f, U+1021-1022, U+1025-1027, U+1029, U+102d-102f, U+1031-1036, U+1039-103a, U+103c-103e, U+1040-1041, U+1043-1044, U+1048, U+104a-104b, U+104e, U+1050-1054, U+1056, U+1058, U+105c, U+1062, U+1064-1066, U+1072-1079, U+107b, U+107f, U+1081-1082, U+1084-1085, U+108e, U+1090;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Georgian.woff2) format('woff2');
  unicode-range: U+10a0-10a1, U+10a3-10a5, U+10a7-10a9, U+10ac-10ae, U+10b0-10ba, U+10bc-10be, U+10c7, U+10cd, U+10d0-10f0, U+10f2-10f3, U+10f7-10ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ethiopic.woff2) format('woff2');
  unicode-range: U+1200-1202, U+1260-1261, U+12cd;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cherokee.woff2) format('woff2');
  unicode-range: U+13a0-13b7, U+13ba-13bb, U+13bd-13be, U+13c0-13c4, U+13c6, U+13cb-13cc, U+13ce-13d0, U+13d2-13d5, U+13d9-13da, U+13de-13df, U+13e2, U+13e6-13e9, U+13eb, U+13ed-13ee, U+13f0, U+13f2-13f5, U+13f8, U+13fa-13fd;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Unified-Canadian-Aboriginal-Syllabics.woff2) format('woff2');
  unicode-range: U+1400-1422, U+1424-142a, U+142c-142f, U+1431-1434, U+1438-1439, U+144a, U+144c, U+144e-1456, U+145d-1460;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ogham.woff2) format('woff2');
  unicode-range: U+1680-169c;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Runic.woff2) format('woff2');
  unicode-range: U+16a0-16f8;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Tagalog.woff2) format('woff2');
  unicode-range: U+1700-170c, U+170e-1714;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Hanunoo.woff2) format('woff2');
  unicode-range: U+1720-1736;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Buhid.woff2) format('woff2');
  unicode-range: U+1740-1753;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Khmer.woff2) format('woff2');
  unicode-range: U+1780-1782, U+1784-1787, U+1789-178b, U+178e-1790, U+1792, U+1794-1798, U+179a-17a0, U+17a2-17a5, U+17ab, U+17ad, U+17b6-17b9, U+17bb, U+17c6, U+17c8-17c9, U+17cb-17cc, U+17ce-17cf, U+17d2, U+17d4-17d5, U+17d9, U+17db, U+17e0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Mongolian.woff2) format('woff2');
  unicode-range: U+180b-180e, U+1820-1821;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Unified-Canadian-Aboriginal-Syllabics-Extended.woff2) format('woff2');
  unicode-range: U+18b0-18b1, U+18de;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.New-Tai-Lue.woff2) format('woff2');
  unicode-range: U+1980-1982, U+1985-1986, U+1988-1989, U+198b-198e, U+1992, U+1998, U+199d-199e, U+19a2, U+19a5, U+19b1, U+19b3, U+19b8, U+19c8-19c9, U+19d0-19d1, U+19d3-19d4;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Tai-Tham.woff2) format('woff2');
  unicode-range: U+1a60;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Combining-Diacritical-Marks-Extended.woff2) format('woff2');
  unicode-range: U+1ab0-1ab5, U+1ab7-1ac0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Sundanese.woff2) format('woff2');
  unicode-range: U+1b8a-1b8b, U+1b9e, U+1bb0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ol-Chiki.woff2) format('woff2');
  unicode-range: U+1c50, U+1c5b, U+1c70, U+1c75, U+1c78-1c7c, U+1c7e-1c7f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cyrillic-Extended-C.woff2) format('woff2');
  unicode-range: U+1c80-1c88;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Georgian-Extended.woff2) format('woff2');
  unicode-range: U+1c90-1cb0, U+1cb2-1cb3, U+1cb7-1cba, U+1cbd-1cbf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Sundanese-Supplement.woff2) format('woff2');
  unicode-range: U+1cc0-1cc7;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Phonetic-Extensions.woff2) format('woff2');
  unicode-range: U+1d00-1d7f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Phonetic-Extensions-Supplement.woff2) format('woff2');
  unicode-range: U+1d80-1dbf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Combining-Diacritical-Marks-Supplement.woff2) format('woff2');
  unicode-range: U+1dc0-1dc1, U+1dc4-1dc7, U+1dca, U+1dcd, U+1dd1-1dd2, U+1dd4-1df7, U+1df9, U+1dfc-1dfe;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Latin-Extended-Additional.woff2) format('woff2');
  unicode-range: U+1e00-1eff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Greek-Extended.woff2) format('woff2');
  unicode-range: U+1f00-1f15, U+1f18-1f1d, U+1f20-1f45, U+1f48-1f4d, U+1f50-1f57, U+1f59, U+1f5b, U+1f5d, U+1f5f-1f7d, U+1f80-1fb4, U+1fb6-1fc4, U+1fc6-1fd3, U+1fd6-1fdb, U+1fdd-1fef, U+1ff2-1ff4, U+1ff6-1ffe;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.General-Punctuation.woff2) format('woff2');
  unicode-range: U+2000-2027, U+202a-202b, U+202d-202e, U+2030-205e, U+2060-2064, U+2066-206b, U+206e-206f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Superscripts-and-Subscripts.woff2) format('woff2');
  unicode-range: U+2070-2071, U+2074-208e, U+2090-209c;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Currency-Symbols.woff2) format('woff2');
  unicode-range: U+20a0-20bf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Combining-Diacritical-Marks-for-Symbols.woff2) format('woff2');
  unicode-range: U+20d0-20e8, U+20ea, U+20ec-20f0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Letterlike-Symbols.woff2) format('woff2');
  unicode-range: U+2100-210a, U+210d-210f, U+2112-211a, U+211c-2127, U+2129-212b, U+212d-212f, U+2132, U+2134-213c, U+213e-2147, U+214b, U+214d-214e;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Number-Forms.woff2) format('woff2');
  unicode-range: U+2150-218b;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Arrows.woff2) format('woff2');
  unicode-range: U+2190-21ac, U+21ae, U+21b0-21db, U+21de-21ed, U+21f0-21ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Mathematical-Operators.woff2) format('woff2');
  unicode-range: U+2200-22ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Miscellaneous-Technical.woff2) format('woff2');
  unicode-range: U+2300, U+2302-2310, U+2312-231b, U+2320-2321, U+2326-237b, U+237d-2386, U+238a-238b, U+238d, U+238f-2395, U+239a-23b6, U+23b8-23d3, U+23d7-23e1, U+23e3-23e4, U+23e6-23ef, U+23f2-23ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Control-Pictures.woff2) format('woff2');
  unicode-range: U+2400-2426;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Optical-Character-Recognition.woff2) format('woff2');
  unicode-range: U+2440-2444, U+244a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Enclosed-Alphanumerics.woff2) format('woff2');
  unicode-range: U+2460-24ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Box-Drawing.woff2) format('woff2');
  unicode-range: U+2500-257f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Block-Elements.woff2) format('woff2');
  unicode-range: U+2580-259f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Geometric-Shapes.woff2) format('woff2');
  unicode-range: U+25a0-25ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Miscellaneous-Symbols.woff2) format('woff2');
  unicode-range: U+2600-261f, U+2625-2628, U+262d-2637, U+2639-2653, U+2659, U+265f-266f, U+2672-2691, U+2693, U+2696-2697, U+2699, U+269e-26af, U+26b2-26b4, U+26b8-26b9, U+26bc-26bf, U+26c4-26c7, U+26c9-26cc, U+26ce, U+26d2, U+26d4, U+26d6-26d7, U+26db, U+26dd-26de, U+26e2-26e4, U+26e7-26e9, U+26eb-26f1, U+26f3, U+26f6, U+26f9, U+26fb-26fc, U+26fe-26ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Dingbats.woff2) format('woff2');
  unicode-range: U+2701-2703, U+2705, U+2708-270a, U+2713-2717, U+2719-271d, U+2721-2722, U+2726-2728, U+272a, U+272d-272e, U+273b-273d, U+273f-2740, U+2742, U+2744, U+274a, U+274c-2752, U+2755-2756, U+2758-2797, U+279d-279e, U+27a1-27a7, U+27a9-27aa, U+27b0, U+27b2, U+27be-27bf;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Miscellaneous-Mathematical-Symbols-A.woff2) format('woff2');
  unicode-range: U+27c0-27c4, U+27c7-27d9, U+27dc-27ef;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Supplemental-Arrows-A.woff2) format('woff2');
  unicode-range: U+27f0-27fe;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Braille-Patterns.woff2) format('woff2');
  unicode-range: U+2800-28ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Supplemental-Arrows-B.woff2) format('woff2');
  unicode-range: U+2900-290f, U+2912-291c, U+2921-2922, U+2927-2932, U+2934-2937, U+2939, U+2940-297f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Miscellaneous-Mathematical-Symbols-B.woff2) format('woff2');
  unicode-range: U+2980-29a5, U+29b0-29cd, U+29d1-29e0, U+29e3-29e9, U+29ec-29f3, U+29f5-29fb, U+29fe-29ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Supplemental-Mathematical-Operators.woff2) format('woff2');
  unicode-range: U+2a00-2a1c, U+2a22-2a27, U+2a29-2a3d, U+2a3f-2a4d, U+2a51-2a5d, U+2a64-2acc, U+2acf-2adb, U+2ade-2ae1, U+2ae6, U+2aee-2aff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Miscellaneous-Symbols-and-Arrows.woff2) format('woff2');
  unicode-range: U+2b00-2b32, U+2b34-2b36, U+2b39-2b3e, U+2b40, U+2b43-2b4c, U+2b4e-2b59, U+2b5c-2b5d, U+2b60-2b73, U+2b76-2b91, U+2b95, U+2b97-2baf, U+2bb8, U+2bba-2bff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Glagolitic.woff2) format('woff2');
  unicode-range: U+2c00-2c05, U+2c07, U+2c0b, U+2c0d-2c0f, U+2c12-2c15, U+2c17, U+2c19-2c1e, U+2c21, U+2c24-2c27, U+2c29-2c2a, U+2c2c, U+2c30-2c35, U+2c37, U+2c3b, U+2c3d-2c3f, U+2c42-2c45, U+2c47, U+2c49-2c4e, U+2c51, U+2c54-2c57, U+2c59-2c5a, U+2c5c;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Latin-Extended-C.woff2) format('woff2');
  unicode-range: U+2c60-2c7f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Coptic.woff2) format('woff2');
  unicode-range: U+2c80-2c95, U+2c97-2c9b, U+2c9e-2cb3, U+2cb6-2cc1, U+2cc4-2ccd, U+2cd0-2cd3, U+2cd8-2cd9, U+2cde-2ce1, U+2cef, U+2cff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Georgian-Supplement.woff2) format('woff2');
  unicode-range: U+2d00-2d01, U+2d03-2d05, U+2d08, U+2d0b-2d0d, U+2d11, U+2d16-2d1c, U+2d1e, U+2d22-2d23, U+2d27, U+2d2d;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Tifinagh.woff2) format('woff2');
  unicode-range: U+2d30-2d67, U+2d6f-2d70, U+2d7f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cyrillic-Extended-A.woff2) format('woff2');
  unicode-range: U+2de0-2dff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Supplemental-Punctuation.woff2) format('woff2');
  unicode-range: U+2e0b-2e11, U+2e18, U+2e1a-2e1f, U+2e26-2e3d, U+2e40-2e42, U+2e4a-2e4e;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Vai.woff2) format('woff2');
  unicode-range: U+a50b-a50d, U+a554-a555, U+a557, U+a579-a57a, U+a5cb, U+a5ec, U+a60c, U+a60e, U+a621;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cyrillic-Extended-B.woff2) format('woff2');
  unicode-range: U+a640-a671, U+a673-a69f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Bamum.woff2) format('woff2');
  unicode-range: U+a6a1-a6a2, U+a6c9, U+a6cd-a6ce, U+a6ef;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Latin-Extended-D.woff2) format('woff2');
  unicode-range: U+a720-a7bf, U+a7c2-a7ca, U+a7f5-a7ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Devanagari-Extended.woff2) format('woff2');
  unicode-range: U+a8ea, U+a8ed-a8ee, U+a8f2, U+a8fb;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Rejang.woff2) format('woff2');
  unicode-range: U+a930-a953, U+a95f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Myanmar-Extended-B.woff2) format('woff2');
  unicode-range: U+a9e0-a9e1, U+a9e9-a9eb, U+a9ed-a9ee, U+a9f8-a9fd;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Myanmar-Extended-A.woff2) format('woff2');
  unicode-range: U+aa60, U+aa64, U+aa66-aa68, U+aa71;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Meetei-Mayek-Extensions.woff2) format('woff2');
  unicode-range: U+aae5, U+aaf5-aaf6;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Latin-Extended-E.woff2) format('woff2');
  unicode-range: U+ab30-ab6b;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cherokee-Supplement.woff2) format('woff2');
  unicode-range: U+ab70-ab87, U+ab8a-ab8b, U+ab8d-ab8e, U+ab90-ab94, U+ab96, U+ab9b-ab9c, U+ab9e-aba0, U+aba2-aba5, U+aba9-abaa, U+abae-abaf, U+abb2, U+abb6-abb9, U+abbb, U+abbd-abbe;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Meetei-Mayek.woff2) format('woff2');
  unicode-range: U+abc0, U+abcd, U+abda-abdb, U+abe1, U+abf0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Alphabetic-Presentation-Forms.woff2) format('woff2');
  unicode-range: U+fb00-fb06, U+fb13-fb17, U+fb1d-fb36, U+fb38-fb3c, U+fb3e, U+fb40-fb41, U+fb43-fb44, U+fb46-fb4f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Arabic-Presentation-Forms-A.woff2) format('woff2');
  unicode-range: U+fb50-fba9, U+fbb2-fbbb, U+fbbd-fbc1, U+fbd3-fc50, U+fc55-fc9a, U+fc9c-fc9f, U+fca1-fca4, U+fca6-fccc, U+fcce-fcd5, U+fcda-fcdd, U+fcdf, U+fce1, U+fce3, U+fce5, U+fce7, U+fce9, U+fceb-fcee, U+fcf0, U+fcf2-fd2f, U+fd33-fd3d, U+fd50-fd8f, U+fd92, U+fd95-fdb8, U+fdbc-fdbf, U+fdc2, U+fdc6-fdc7, U+fdd0-fdef, U+fdf3, U+fdf5-fdf9, U+fdfc;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Combining-Half-Marks.woff2) format('woff2');
  unicode-range: U+fe20-fe2f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Arabic-Presentation-Forms-B.woff2) format('woff2');
  unicode-range: U+fe70-fe74, U+fe76-feea, U+feed-fefc, U+feff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Specials.woff2) format('woff2');
  unicode-range: U+fff9-ffff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Linear-B-Syllabary.woff2) format('woff2');
  unicode-range: U+10000, U+10005, U+10007, U+1000a, U+1000f, U+1001e, U+1002b, U+10031, U+10035, U+10037-10038;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Linear-B-Ideograms.woff2) format('woff2');
  unicode-range: U+100cf, U+100d1, U+100ec;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Aegean-Numbers.woff2) format('woff2');
  unicode-range: U+10100-10102, U+10107-10133, U+10138, U+1013a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ancient-Greek-Numbers.woff2) format('woff2');
  unicode-range: U+10140-1018e;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ancient-Symbols.woff2) format('woff2');
  unicode-range: U+10190-1019c, U+101a0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Lycian.woff2) format('woff2');
  unicode-range: U+10280-1029c;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Carian.woff2) format('woff2');
  unicode-range: U+102a0-102d0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Old-Italic.woff2) format('woff2');
  unicode-range: U+10300-10323, U+1032d-1032f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Gothic.woff2) format('woff2');
  unicode-range: U+10330-1034a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Old-Permic.woff2) format('woff2');
  unicode-range: U+10350-1037a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ugaritic.woff2) format('woff2');
  unicode-range: U+10380-10387, U+10389-1038b, U+1038d-1038e, U+10390-1039c, U+1039f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Old-Persian.woff2) format('woff2');
  unicode-range: U+103a0-103a4, U+103a9, U+103ad, U+103b0, U+103b2-103b4, U+103cf-103d5;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Deseret.woff2) format('woff2');
  unicode-range: U+10400-10406, U+1040e, U+10411-10413, U+10415-10418, U+1041a-1041c, U+1041f-10420, U+10422-10423, U+10425, U+10427-1042e, U+10436, U+10439-10440, U+10442-10444, U+10447-10448, U+1044a-1044b, U+1044d, U+1044f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Osage.woff2) format('woff2');
  unicode-range: U+104b0-104b3, U+104c2-104c5, U+104cd-104ce, U+104d0-104d2, U+104d8, U+104ea-104eb, U+104f5-104f6, U+104fa;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Elbasan.woff2) format('woff2');
  unicode-range: U+10501, U+10506-10507, U+1050d-10511, U+10513, U+10516, U+1051d, U+10525-10527;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Linear-A.woff2) format('woff2');
  unicode-range: U+10600-10602, U+10604-10607, U+1062e, U+10631, U+1063e, U+1065d, U+10740-10742, U+10747, U+10753;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cypriot-Syllabary.woff2) format('woff2');
  unicode-range: U+10800-10802, U+10810;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Hatran.woff2) format('woff2');
  unicode-range: U+108e0-108f2, U+108f4-108f5, U+108fb-108ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Phoenician.woff2) format('woff2');
  unicode-range: U+10902, U+10904, U+10906-10907, U+1090a, U+1090c, U+1090f, U+10916, U+1091a-1091b, U+1091f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Lydian.woff2) format('woff2');
  unicode-range: U+10920-10939, U+1093f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Kharoshthi.woff2) format('woff2');
  unicode-range: U+10a00-10a03, U+10a05, U+10a0f-10a10, U+10a1d, U+10a29, U+10a31-10a32, U+10a38, U+10a3f-10a40, U+10a56-10a57;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Old-South-Arabian.woff2) format('woff2');
  unicode-range: U+10a60-10a7f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Old-North-Arabian.woff2) format('woff2');
  unicode-range: U+10a80-10a9f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Old-Turkic.woff2) format('woff2');
  unicode-range: U+10c00-10c48;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Old-Hungarian.woff2) format('woff2');
  unicode-range: U+10c80-10cb2, U+10cc0-10cf2, U+10cfa-10cff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Rumi-Numeral-Symbols.woff2) format('woff2');
  unicode-range: U+10e60-10e7e;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Elymaic.woff2) format('woff2');
  unicode-range: U+10fe5-10fe6, U+10fe8-10fed, U+10fef-10ff0, U+10ff2, U+10ff4-10ff6;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Brahmi.woff2) format('woff2');
  unicode-range: U+11004, U+11007-1100b, U+1100f-11015, U+11017-1101a, U+1101d-1101e, U+11021-11023, U+11026-11027, U+11029, U+1102c-1102d, U+1102f-11030, U+11047, U+11052-11055, U+11063;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Kaithi.woff2) format('woff2');
  unicode-range: U+1109d, U+110a9, U+110b0, U+110be-110c0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Chakma.woff2) format('woff2');
  unicode-range: U+11133;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Sharada.woff2) format('woff2');
  unicode-range: U+111a7, U+111d0-111d1;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Multani.woff2) format('woff2');
  unicode-range: U+112a9;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Warang-Citi.woff2) format('woff2');
  unicode-range: U+118a0, U+118a3, U+118a9, U+118ae, U+118b5, U+118b8, U+118bc, U+118e0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Zanabazar-Square.woff2) format('woff2');
  unicode-range: U+11a00-11a47;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Soyombo.woff2) format('woff2');
  unicode-range: U+11a99;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Pau-Cin-Hau.woff2) format('woff2');
  unicode-range: U+11ac0-11af8;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cuneiform.woff2) format('woff2');
  unicode-range: U+12000, U+12016, U+1202d-1202e, U+12038-1203a, U+1203c, U+1203e, U+12041, U+12047, U+12079, U+120f5, U+1212c-12131, U+12136, U+12142, U+121b8-121b9, U+121be-121c0, U+121c9, U+121d4, U+121f2, U+121f9, U+12226, U+1222b, U+1227d, U+122b9, U+122f0, U+12300, U+1230b, U+1230d, U+12337-12338, U+12345, U+12347, U+12357, U+1235d;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Cuneiform-Numbers-and-Punctuation.woff2) format('woff2');
  unicode-range: U+12400-12402, U+12404, U+12408-12409, U+1240b, U+12410-12411, U+12415-12418, U+1241a, U+1241e-12420, U+12423-1242a, U+1242c-12431, U+1243a, U+1243f-12440, U+12444-12449, U+1244f-12451, U+12453, U+12456-12459, U+12460, U+12467-12468, U+12470-12473;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Early-Dynastic-Cuneiform.woff2) format('woff2');
  unicode-range: U+124cf, U+124df;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Egyptian-Hieroglyphs.woff2) format('woff2');
  unicode-range: U+13082, U+130c9-130cc, U+130d1, U+1339f, U+1340d;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Bamum-Supplement.woff2) format('woff2');
  unicode-range: U+16822, U+16869, U+1688a, U+168e0, U+16910, U+1695e, U+16971, U+16975, U+1697b, U+1699b, U+169f9, U+16a20, U+16a2c;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Mro.woff2) format('woff2');
  unicode-range: U+16a42, U+16a45, U+16a4b, U+16a4d;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Bassa-Vah.woff2) format('woff2');
  unicode-range: U+16ad1, U+16ad6, U+16ae9, U+16aec;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Pahawh-Hmong.woff2) format('woff2');
  unicode-range: U+16b07, U+16b21-16b23, U+16b2a-16b2b, U+16b2e-16b36, U+16b40, U+16b6f, U+16b72;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Duployan.woff2) format('woff2');
  unicode-range: U+1bc00-1bc03, U+1bc07-1bc08, U+1bc0c-1bc0d, U+1bc11-1bc13, U+1bc19-1bc2f, U+1bc43-1bc45, U+1bc9d;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Musical-Symbols.woff2) format('woff2');
  unicode-range: U+1d100-1d103, U+1d105-1d108, U+1d116-1d11b, U+1d11e-1d124, U+1d129-1d131, U+1d134-1d139, U+1d146-1d151, U+1d157-1d158, U+1d15c-1d165, U+1d16d-1d172, U+1d175-1d176, U+1d18c-1d191, U+1d195-1d196, U+1d1b9-1d1c0;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ancient-Greek-Musical-Notation.woff2) format('woff2');
  unicode-range: U+1d200-1d22b, U+1d22f-1d232, U+1d236-1d239, U+1d23c, U+1d242-1d245;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Mayan-Numerals.woff2) format('woff2');
  unicode-range: U+1d2e0-1d2f3;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Mathematical-Alphanumeric-Symbols.woff2) format('woff2');
  unicode-range: U+1d400-1d454, U+1d456-1d49b, U+1d4c1, U+1d4db, U+1d4ee, U+1d4f0, U+1d4f5, U+1d4f8, U+1d504, U+1d518, U+1d51f-1d522, U+1d525, U+1d528-1d529, U+1d52c-1d52d, U+1d536, U+1d538-1d539, U+1d53b-1d53e, U+1d540-1d544, U+1d546, U+1d54a-1d550, U+1d552-1d55d, U+1d560-1d562, U+1d564, U+1d569-1d56c, U+1d56e, U+1d57d, U+1d580, U+1d587-1d58a, U+1d58d, U+1d590-1d591, U+1d594-1d595, U+1d59e, U+1d5a0-1d60d, U+1d60f-1d610, U+1d612-1d619, U+1d61b-1d621, U+1d62d, U+1d639, U+1d63b-1d641, U+1d643-1d644, U+1d646-1d64d, U+1d64f-1d655, U+1d670-1d68c, U+1d68e-1d690, U+1d698-1d69b, U+1d69d, U+1d6a3-1d6a5, U+1d6a8-1d76c, U+1d76e-1d76f, U+1d776-1d777, U+1d77b, U+1d77e-1d780, U+1d782-1d783, U+1d78d, U+1d790-1d7a6, U+1d7a9, U+1d7b1, U+1d7b9, U+1d7bd, U+1d7ca-1d7cb, U+1d7ce-1d7ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Sutton-SignWriting.woff2) format('woff2');
  unicode-range: U+1d800-1d80f, U+1d85c, U+1d901, U+1d903-1d904, U+1d9ff, U+1da9b-1da9f, U+1daa1-1daa8;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Glagolitic-Supplement.woff2) format('woff2');
  unicode-range: U+1e000-1e005, U+1e00b, U+1e00d-1e00f, U+1e012-1e015, U+1e017, U+1e01b-1e01e, U+1e021, U+1e024, U+1e026-1e027, U+1e029-1e02a;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Mende-Kikakui.woff2) format('woff2');
  unicode-range: U+1e822-1e823, U+1e827, U+1e85a, U+1e8a9, U+1e8ab, U+1e8c7;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Arabic-Mathematical-Alphabetic-Symbols.woff2) format('woff2');
  unicode-range: U+1ee00-1ee03, U+1ee05-1ee1f, U+1ee21-1ee22, U+1ee27, U+1ee29-1ee32, U+1ee34-1ee37, U+1ee39, U+1ee3b, U+1ee42, U+1ee47, U+1ee57, U+1ee8f, U+1ee9b, U+1eea1, U+1eeb5-1eeb6, U+1eef1;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Domino-Tiles.woff2) format('woff2');
  unicode-range: U+1f030-1f093;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Playing-Cards.woff2) format('woff2');
  unicode-range: U+1f0a0-1f0ae, U+1f0b1-1f0bf, U+1f0c1-1f0cf, U+1f0d1-1f0f5;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Enclosed-Alphanumeric-Supplement.woff2) format('woff2');
  unicode-range: U+1f100-1f1ad, U+1f1e6-1f1ff;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Emoticons.woff2) format('woff2');
  unicode-range: U+1f600-1f608, U+1f60a, U+1f60c-1f612, U+1f614-1f615, U+1f61b, U+1f61d, U+1f620-1f622, U+1f626-1f627, U+1f62b, U+1f62e, U+1f635-1f63c, U+1f641-1f643, U+1f64f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Ornamental-Dingbats.woff2) format('woff2');
  unicode-range: U+1f66a-1f66b, U+1f672-1f67a, U+1f67e-1f67f;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Alchemical-Symbols.woff2) format('woff2');
  unicode-range: U+1f700-1f704, U+1f707-1f709, U+1f713-1f717, U+1f71a-1f71b, U+1f728, U+1f73a, U+1f746, U+1f748, U+1f750, U+1f754-1f755, U+1f75b-1f75c, U+1f76b, U+1f76f, U+1f771-1f772;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Geometric-Shapes-Extended.woff2) format('woff2');
  unicode-range: U+1f780-1f79c, U+1f7a8-1f7a9, U+1f7c9, U+1f7d5-1f7d8, U+1f7e5-1f7e6;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Supplemental-Arrows-C.woff2) format('woff2');
  unicode-range: U+1f800-1f807, U+1f862, U+1f8a4-1f8a7;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Supplemental-Symbols-and-Pictographs.woff2) format('woff2');
  unicode-range: U+1f903-1f907, U+1f90d, U+1f929, U+1f939, U+1f95a, U+1f970, U+1f98d, U+1f992, U+1f9cd, U+1f9d9-1f9db, U+1f9f2;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Chess-Symbols.woff2) format('woff2');
  unicode-range: U+1fa05, U+1fa0e, U+1fa14, U+1fa1a, U+1fa23, U+1fa29, U+1fa2f, U+1fa38, U+1fa3e, U+1fa44, U+1fa60-1fa6d;
}

@font-face {
  font-family: 'Hanazono Mincho Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaMinLiteCJKDVN'), local('HanaMinLiteCJKDVN'), url(HanaMinLiteCJKDVN.Symbols-and-Pictographs-Extended-A.woff2) format('woff2');
  unicode-range: U+1fa78-1fa79, U+1fa84, U+1faa7;
}
