/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.Basic-Latin.woff2) format('woff2');
  unicode-range: U+0-1f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-A.woff2) format('woff2');
  unicode-range: U+4db8-4db9;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-01.woff2) format('woff2');
  unicode-range: U+21600-219ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-02.woff2) format('woff2');
  unicode-range: U+21a00-21dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-03.woff2) format('woff2');
  unicode-range: U+21e00-221ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-04.woff2) format('woff2');
  unicode-range: U+22200-225ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-05.woff2) format('woff2');
  unicode-range: U+22600-229ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-06.woff2) format('woff2');
  unicode-range: U+22a00-22dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-07.woff2) format('woff2');
  unicode-range: U+22e00-231ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-08.woff2) format('woff2');
  unicode-range: U+23200-235ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-09.woff2) format('woff2');
  unicode-range: U+23600-239ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-10.woff2) format('woff2');
  unicode-range: U+23a00-23dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-11.woff2) format('woff2');
  unicode-range: U+23e00-241ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-12.woff2) format('woff2');
  unicode-range: U+24200-245ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-13.woff2) format('woff2');
  unicode-range: U+24600-249ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-14.woff2) format('woff2');
  unicode-range: U+24a00-24dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-15.woff2) format('woff2');
  unicode-range: U+24e00-251ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-16.woff2) format('woff2');
  unicode-range: U+25200-255ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-17.woff2) format('woff2');
  unicode-range: U+25600-259ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-18.woff2) format('woff2');
  unicode-range: U+25a00-25dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-19.woff2) format('woff2');
  unicode-range: U+25e00-261ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-20.woff2) format('woff2');
  unicode-range: U+26200-265ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-21.woff2) format('woff2');
  unicode-range: U+26600-269ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-22.woff2) format('woff2');
  unicode-range: U+26a00-26dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-23.woff2) format('woff2');
  unicode-range: U+26e00-271ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-24.woff2) format('woff2');
  unicode-range: U+27200-275ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-25.woff2) format('woff2');
  unicode-range: U+27600-279ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-26.woff2) format('woff2');
  unicode-range: U+27a00-27dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-27.woff2) format('woff2');
  unicode-range: U+27e00-281ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-28.woff2) format('woff2');
  unicode-range: U+28200-285ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-29.woff2) format('woff2');
  unicode-range: U+28600-289ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-30.woff2) format('woff2');
  unicode-range: U+28a00-28dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-31.woff2) format('woff2');
  unicode-range: U+28e00-291ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-32.woff2) format('woff2');
  unicode-range: U+29200-295ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-33.woff2) format('woff2');
  unicode-range: U+29600-299ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-34.woff2) format('woff2');
  unicode-range: U+29a00-29dff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-35.woff2) format('woff2');
  unicode-range: U+29e00-2a1ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-36.woff2) format('woff2');
  unicode-range: U+2a200-2a5ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-B-37.woff2) format('woff2');
  unicode-range: U+2a600-2a6d6;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-C-1.woff2) format('woff2');
  unicode-range: U+2a700-2aaff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-C-2.woff2) format('woff2');
  unicode-range: U+2ab00-2aeff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-C-3.woff2) format('woff2');
  unicode-range: U+2af00-2b2ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-C-4.woff2) format('woff2');
  unicode-range: U+2b300-2b6ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-C-5.woff2) format('woff2');
  unicode-range: U+2b700-2b734;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-D.woff2) format('woff2');
  unicode-range: U+2b740-2b81d;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-E-1.woff2) format('woff2');
  unicode-range: U+2b820-2bc1f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-E-2.woff2) format('woff2');
  unicode-range: U+2bc20-2c01f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-E-3.woff2) format('woff2');
  unicode-range: U+2c020-2c41f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-E-4.woff2) format('woff2');
  unicode-range: U+2c420-2c81f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-E-5.woff2) format('woff2');
  unicode-range: U+2c820-2cc1f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-E-6.woff2) format('woff2');
  unicode-range: U+2cc20-2cea1;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-1.woff2) format('woff2');
  unicode-range: U+2ceb0-2d2af;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-2.woff2) format('woff2');
  unicode-range: U+2d2b0-2d6af;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-3.woff2) format('woff2');
  unicode-range: U+2d6b0-2daaf;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-4.woff2) format('woff2');
  unicode-range: U+2dab0-2deaf;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-5.woff2) format('woff2');
  unicode-range: U+2deb0-2e2af;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-6.woff2) format('woff2');
  unicode-range: U+2e2b0-2e6af;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-7.woff2) format('woff2');
  unicode-range: U+2e6b0-2eaaf;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-F-8.woff2) format('woff2');
  unicode-range: U+2eab0-2ebe0;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-G-1.woff2) format('woff2');
  unicode-range: U+30000-303ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-G-2.woff2) format('woff2');
  unicode-range: U+30400-307ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-G-3.woff2) format('woff2');
  unicode-range: U+30800-30bff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-G-4.woff2) format('woff2');
  unicode-range: U+30c00-30fff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Unified-Ideographs-Extension-G-5.woff2) format('woff2');
  unicode-range: U+31000-3134a;
}

@font-face {
  font-family: 'Hanazono Gothic Lite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteBTC'), local('HanaGothLiteBTC'), url(HanaGothLiteBTC.CJK-Compatibility-Ideographs-Supplement.woff2) format('woff2');
  unicode-range: U+2f800-2fa1d;
}
