/**
 * Font Splitter
 * https://github.com/VdustR/font-splitter
 */

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Basic-Latin.woff2) format('woff2');
  unicode-range: U+0-1f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.CJK-Unified-Ideographs.woff2) format('woff2');
  unicode-range: U+4e0d, U+4e32, U+4e39, U+4e82, U+4e86, U+4eae, U+4ec0, U+4ee4, U+4f86, U+4f8b, U+502b, U+50da, U+5140, U+516d, U+51b7, U+51c9, U+51cc, U+51dc, U+5207, U+5217, U+5229, U+523a, U+5289, U+529b, U+52a3, U+52d2, U+5317, U+5375, U+53c3, U+53e5, U+541d, U+5442, U+5587, U+585e, U+58d8, U+5948, U+5973, U+5b85, U+5bee, U+5c62, U+5c65, U+5d19, U+5d50, U+5dba, U+5e74, U+5ea6, U+5ed3, U+5f04, U+5f8b, U+5fa9, U+6012, U+60e1, U+61f6, U+6200, U+622e, U+62c9, U+62cf, U+62d3, U+62fe, U+637b, U+6599, U+6613, U+6688, U+66c6, U+674e, U+6797, U+67f3, U+6881, U+68a8, U+6a02, U+6b77, U+6c88, U+6ce5, U+6d1b, U+6d1e, U+6d6a, U+6dcb, U+6e9c, U+6ed1, U+6f0f, U+6f23, U+6ffe, U+7099, U+70c8, U+7149, U+71ce, U+7210, U+7262, U+72c0, U+72fc, U+7387, U+73b2, U+7406, U+7469, U+7489, U+7559, U+7570, U+75e2, U+7642, U+7669, U+76e7, U+7701, U+78ca, U+792a, U+797f, U+79ae, U+79ca, U+7a1c, U+7acb, U+7b20, U+7c60, U+7c92, U+7d10, U+7d2f, U+7dbe, U+7e37, U+7f85, U+8001, U+807e, U+808b, U+81d8, U+81e8, U+826f, U+87ba, U+884c, U+88c2, U+88cf, U+88f8, U+898b, U+8ad6, U+8afe, U+8b58, U+8b80, U+8c48, U+8cc2, U+8cc8, U+8def, U+8eca, U+8f26, U+8f2a, U+8f3b, U+8f62, U+908f, U+91cc, U+91cf, U+91d1, U+9234, U+934a, U+95ad, U+964b, U+9675, U+96a3, U+96b7, U+96e2, U+96f7, U+9732, U+9818, U+99f1, U+9a6a, U+9b6f, U+9dfa, U+9e1e, U+9e7f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-01.woff2) format('woff2');
  unicode-range: U+ac00-afff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-02.woff2) format('woff2');
  unicode-range: U+b000-b3ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-03.woff2) format('woff2');
  unicode-range: U+b400-b7ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-04.woff2) format('woff2');
  unicode-range: U+b800-bbff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-05.woff2) format('woff2');
  unicode-range: U+bc00-bfff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-06.woff2) format('woff2');
  unicode-range: U+c000-c3ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-07.woff2) format('woff2');
  unicode-range: U+c400-c7ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-08.woff2) format('woff2');
  unicode-range: U+c800-cbff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-09.woff2) format('woff2');
  unicode-range: U+cc00-cfff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-10.woff2) format('woff2');
  unicode-range: U+d000-d3ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Syllables-11.woff2) format('woff2');
  unicode-range: U+d400-d7a3;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Hangul-Jamo-Extended-B.woff2) format('woff2');
  unicode-range: U+d7b0-d7c6, U+d7cb-d7fb;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.CJK-Compatibility-Ideographs.woff2) format('woff2');
  unicode-range: U+f900-fa6d, U+fa70-fad9;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Alphabetic-Presentation-Forms.woff2) format('woff2');
  unicode-range: U+fb00-fb06, U+fb13-fb17, U+fb1d-fb36, U+fb38-fb3c, U+fb3e, U+fb40-fb41, U+fb43-fb44, U+fb46-fb4f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Arabic-Presentation-Forms-A.woff2) format('woff2');
  unicode-range: U+fb50-fba9, U+fbb2-fbbb, U+fbbd-fbc1, U+fbd3-fc50, U+fc55-fc9a, U+fc9c-fc9f, U+fca1-fca4, U+fca6-fccc, U+fcce-fcd5, U+fcda-fcdd, U+fcdf, U+fce1, U+fce3, U+fce5, U+fce7, U+fce9, U+fceb-fcee, U+fcf0, U+fcf2-fd2f, U+fd33-fd3d, U+fd50-fd8f, U+fd92, U+fd95-fdb8, U+fdbc-fdbf, U+fdc2, U+fdc6-fdc7, U+fdd0-fdef, U+fdf3, U+fdf5-fdf6, U+fdf8-fdf9, U+fdfc;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Variation-Selectors.woff2) format('woff2');
  unicode-range: U+fe00-fe0f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Vertical-Forms.woff2) format('woff2');
  unicode-range: U+fe10-fe19;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Combining-Half-Marks.woff2) format('woff2');
  unicode-range: U+fe20-fe2f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.CJK-Compatibility-Forms.woff2) format('woff2');
  unicode-range: U+fe30-fe4f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Small-Form-Variants.woff2) format('woff2');
  unicode-range: U+fe50-fe52, U+fe54-fe66, U+fe68-fe6b;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Arabic-Presentation-Forms-B.woff2) format('woff2');
  unicode-range: U+fe70-fe74, U+fe76-feea, U+feed-fefc, U+feff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Halfwidth-and-Fullwidth-Forms.woff2) format('woff2');
  unicode-range: U+ff01-ffbe, U+ffc2-ffc7, U+ffca-ffcf, U+ffd2-ffd7, U+ffda-ffdc, U+ffe0-ffe6, U+ffe8-ffee;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Specials.woff2) format('woff2');
  unicode-range: U+fff9-fffd;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Ideographic-Symbols-and-Punctuation.woff2) format('woff2');
  unicode-range: U+16fe0, U+16fe2-16fe4, U+16ff0-16ff1;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tangut-1.woff2) format('woff2');
  unicode-range: U+17000-173ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tangut-2.woff2) format('woff2');
  unicode-range: U+17400-177ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tangut-3.woff2) format('woff2');
  unicode-range: U+17800-17bff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tangut-4.woff2) format('woff2');
  unicode-range: U+17c00-17fff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tangut-5.woff2) format('woff2');
  unicode-range: U+18000-183ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tangut-6.woff2) format('woff2');
  unicode-range: U+18400-187f7;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tangut-Components.woff2) format('woff2');
  unicode-range: U+18800-18aff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Kana-Supplement.woff2) format('woff2');
  unicode-range: U+1b000-1b0ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Kana-Extended-A.woff2) format('woff2');
  unicode-range: U+1b100-1b11e;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Small-Kana-Extension.woff2) format('woff2');
  unicode-range: U+1b150-1b152, U+1b164-1b167;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Nushu.woff2) format('woff2');
  unicode-range: U+1b170-1b240, U+1b242, U+1b249, U+1b24c, U+1b24e, U+1b25f, U+1b267-1b26a, U+1b27e, U+1b2a6, U+1b2d9, U+1b2fb;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Duployan.woff2) format('woff2');
  unicode-range: U+1bc00-1bc03, U+1bc07-1bc08, U+1bc0c-1bc0d, U+1bc11-1bc13, U+1bc19-1bc2f, U+1bc43-1bc45, U+1bc9d;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Shorthand-Format-Controls.woff2) format('woff2');
  unicode-range: U+1bca0-1bca3;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Musical-Symbols.woff2) format('woff2');
  unicode-range: U+1d100-1d103, U+1d105-1d108, U+1d116-1d11b, U+1d11e-1d124, U+1d129-1d131, U+1d134-1d139, U+1d146-1d151, U+1d157-1d158, U+1d15c-1d165, U+1d16d-1d172, U+1d175-1d176, U+1d18c-1d191, U+1d195-1d196, U+1d1b9-1d1c0;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Ancient-Greek-Musical-Notation.woff2) format('woff2');
  unicode-range: U+1d200-1d22b, U+1d22f-1d232, U+1d236-1d239, U+1d23c, U+1d242-1d245;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Mayan-Numerals.woff2) format('woff2');
  unicode-range: U+1d2e0-1d2f3;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Tai-Xuan-Jing-Symbols.woff2) format('woff2');
  unicode-range: U+1d300-1d356;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Counting-Rod-Numerals.woff2) format('woff2');
  unicode-range: U+1d360-1d378;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Mathematical-Alphanumeric-Symbols.woff2) format('woff2');
  unicode-range: U+1d400-1d454, U+1d456-1d49b, U+1d4c1, U+1d4db, U+1d4ee, U+1d4f0, U+1d4f5, U+1d4f8, U+1d504, U+1d518, U+1d51f-1d522, U+1d525, U+1d528-1d529, U+1d52c-1d52d, U+1d536, U+1d538-1d539, U+1d53b-1d53e, U+1d540-1d544, U+1d546, U+1d54a-1d550, U+1d552-1d55d, U+1d560-1d562, U+1d564, U+1d569-1d56c, U+1d56e, U+1d57d, U+1d580, U+1d587-1d58a, U+1d58d, U+1d590-1d591, U+1d594-1d595, U+1d59e, U+1d5a0-1d60d, U+1d60f-1d610, U+1d612-1d619, U+1d61b-1d621, U+1d62d, U+1d639, U+1d63b-1d641, U+1d643-1d644, U+1d646-1d64d, U+1d64f-1d655, U+1d670-1d689, U+1d68b-1d68c, U+1d68e-1d690, U+1d698-1d69b, U+1d69d, U+1d6a3-1d6a5, U+1d6a8-1d76c, U+1d76e-1d76f, U+1d776-1d777, U+1d77b, U+1d77e-1d780, U+1d782-1d783, U+1d78d, U+1d790-1d7a6, U+1d7a9, U+1d7b1, U+1d7b9, U+1d7bd, U+1d7ca-1d7cb, U+1d7ce-1d7ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Sutton-SignWriting.woff2) format('woff2');
  unicode-range: U+1d800-1d80f, U+1d85c, U+1d901, U+1d903-1d904, U+1d9ff, U+1da9b-1da9f, U+1daa1-1daa8;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Glagolitic-Supplement.woff2) format('woff2');
  unicode-range: U+1e000-1e005, U+1e00b, U+1e00d-1e00f, U+1e012-1e015, U+1e017, U+1e01b-1e01e, U+1e021, U+1e024, U+1e026-1e027, U+1e029-1e02a;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Mende-Kikakui.woff2) format('woff2');
  unicode-range: U+1e822-1e823, U+1e827, U+1e85a, U+1e8a9, U+1e8ab, U+1e8c7;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Arabic-Mathematical-Alphabetic-Symbols.woff2) format('woff2');
  unicode-range: U+1ee00-1ee03, U+1ee05-1ee1f, U+1ee21-1ee22, U+1ee27, U+1ee29-1ee32, U+1ee34-1ee37, U+1ee39, U+1ee3b, U+1ee42, U+1ee47, U+1ee57, U+1ee8f, U+1ee9b, U+1eea1, U+1eeb5-1eeb6, U+1eef1;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Mahjong-Tiles.woff2) format('woff2');
  unicode-range: U+1f000-1f02b;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Domino-Tiles.woff2) format('woff2');
  unicode-range: U+1f030-1f093;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Playing-Cards.woff2) format('woff2');
  unicode-range: U+1f0a0-1f0ae, U+1f0b1-1f0bf, U+1f0c1-1f0cf, U+1f0d1-1f0f5;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Enclosed-Alphanumeric-Supplement.woff2) format('woff2');
  unicode-range: U+1f100-1f1ad, U+1f1e6-1f1ff;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Enclosed-Ideographic-Supplement.woff2) format('woff2');
  unicode-range: U+1f200-1f202, U+1f210-1f23b, U+1f240-1f248, U+1f250-1f251, U+1f260-1f265;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Miscellaneous-Symbols-and-Pictographs.woff2) format('woff2');
  unicode-range: U+1f300, U+1f302, U+1f304-1f305, U+1f310-1f318, U+1f31a, U+1f31d-1f31e, U+1f320, U+1f322-1f327, U+1f329-1f32a, U+1f330, U+1f355, U+1f358-1f359, U+1f361-1f362, U+1f364, U+1f378, U+1f384, U+1f390, U+1f397, U+1f39c-1f39d, U+1f3b0-1f3b1, U+1f3b3-1f3b9, U+1f3e0, U+1f3e2-1f3e3, U+1f3e6, U+1f3f3-1f3f4, U+1f3f7, U+1f407, U+1f40e, U+1f42d, U+1f42f-1f431, U+1f436-1f438, U+1f440-1f441, U+1f446-1f449, U+1f44d-1f44e, U+1f46b-1f46d, U+1f46f, U+1f477, U+1f47a, U+1f47f, U+1f493-1f495, U+1f497-1f499, U+1f49e-1f49f, U+1f4a2-1f4a4, U+1f4a7-1f4a9, U+1f4ab, U+1f4af, U+1f4b1-1f4b7, U+1f4bb, U+1f4bf-1f4c0, U+1f4d0, U+1f4db, U+1f4e7-1f4e9, U+1f4f1-1f4f2, U+1f4f4-1f4f6, U+1f4fa-1f4fb, U+1f505-1f50a, U+1f50d-1f50e, U+1f516, U+1f519-1f525, U+1f52b, U+1f52f, U+1f534-1f535, U+1f549, U+1f550-1f56a, U+1f573, U+1f582, U+1f595, U+1f597-1f5a4, U+1f5a9, U+1f5b8, U+1f5c5-1f5c9, U+1f5cb-1f5cc, U+1f5ce-1f5cf, U+1f5d5, U+1f5da-1f5db, U+1f5f8-1f5f9, U+1f5fb, U+1f5fe;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Emoticons.woff2) format('woff2');
  unicode-range: U+1f600-1f608, U+1f60a, U+1f60c-1f60d, U+1f60f-1f612, U+1f614-1f615, U+1f61b, U+1f61d, U+1f620-1f622, U+1f626-1f627, U+1f62b, U+1f62e, U+1f635-1f636, U+1f638-1f63c, U+1f641-1f643, U+1f64f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Ornamental-Dingbats.woff2) format('woff2');
  unicode-range: U+1f66a-1f66b, U+1f672-1f67a, U+1f67e-1f67f;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Transport-and-Map-Symbols.woff2) format('woff2');
  unicode-range: U+1f685, U+1f6a9, U+1f6ab, U+1f6b9-1f6bb, U+1f6be-1f6bf, U+1f6c6-1f6c8, U+1f6d1, U+1f6e7;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Alchemical-Symbols.woff2) format('woff2');
  unicode-range: U+1f700-1f704, U+1f707-1f709, U+1f713-1f717, U+1f71a-1f71b, U+1f728, U+1f746, U+1f748, U+1f750, U+1f755, U+1f75b-1f75c, U+1f76b, U+1f76f, U+1f771-1f772;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Geometric-Shapes-Extended.woff2) format('woff2');
  unicode-range: U+1f780-1f79c, U+1f7a8-1f7a9, U+1f7c9, U+1f7d5-1f7d8, U+1f7e5-1f7e6;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Supplemental-Arrows-C.woff2) format('woff2');
  unicode-range: U+1f800-1f807, U+1f862, U+1f8a4-1f8a7;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Supplemental-Symbols-and-Pictographs.woff2) format('woff2');
  unicode-range: U+1f903-1f907, U+1f90d, U+1f929, U+1f939, U+1f95a, U+1f970, U+1f98d, U+1f992, U+1f9cd, U+1f9d9-1f9db, U+1f9f2;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Chess-Symbols.woff2) format('woff2');
  unicode-range: U+1fa05, U+1fa0e, U+1fa14, U+1fa1a, U+1fa23, U+1fa29, U+1fa2f, U+1fa38, U+1fa3e, U+1fa44, U+1fa60-1fa6d;
}

@font-face {
  font-family: 'Hanazono Gothic Lite CJK';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HanaGothLiteCJKA2JP'), local('HanaGothLiteCJKA2JP'), url(HanaGothLiteCJKA2JP.Symbols-and-Pictographs-Extended-A.woff2) format('woff2');
  unicode-range: U+1fa78-1fa79, U+1fa84, U+1faa7;
}
